<!doctype html>
<title>Top Tracks of Artist</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div>
  <div class="center">
    <input type="text" id="genre" class="form-control" placeholder="Genre" aria-label="Search">
    <button type="button" id="id_button" class="btn btn-primary" onclick="onClick()">Search</button>
  </div>
</div>
{% if not data.error_message %}
  <h1 class="center">{{ data.artist_name }}</h1>
  <table style="width: 800px;" class="center-table">
    <tr>
      <th></th>
      <th>Track Name</th>
      <th>Album Name</th>
      <th>Release Date</th>
    </tr>
    <tr>
    {% for item in data['songs']%}
    <tr>
      <th><img src={{item.album_cover.url}} alt="" border=3 height={{item.height}} width={{item.width}}></img></th>
      <th>{{item.track_name}}</th>
      <th>{{item.album_name}}</th>
      <th>{{item.release_date}}</th>
    </tr>
    {% endfor%}
  </table>
{% else %}
  <h1 class="center">{{data.error_message}}</h1>
{% endif %}

<script>
  function onClick() {
    var genreName = document.getElementById("genre").value;
    window.location.href = "/genre/"+ genreName;
     //yok olmadi
  }
</script>
